header {
  background-position: center center;
  height: 350px;
  background-image: url("../img/bg2.jpg");
}

h1 {
  background-color: rgba(248, 248, 248, 0.25);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #416618;
  font-weight: bold;
  margin-top: 80px;
  padding-left: 11rem;
}

h2 {
  margin-top: 10px;
  color: #416618;
  border-color: #416618;
  border-left: 3px dotted #416618;
  font-variant: small-caps;
  padding: 5px 15px;
}

h3 {
  font-weight: bold;
  color: #894f3b;
  text-align: center;

  /* https://www.google.com/search?q=html+h3+default+font+size&oq=html+h3+default+font+size&aqs=chrome..69i57.6677j0j7&sourceid=chrome&ie=UTF-8&safe=active&ssui=on */
  font-size: 28.6px;
  /* font-size: 1.3rem; */
}

li {
  list-style-image: url(../img/lemon2.png);
}

td,
th {
  text-align: center;
}

thead > tr:first-child {
  letter-spacing: 2px;
}

.navbar {
    background-color: #fd8800;
}
p{
    letter-spacing: 1px;
}